@model MessageStack.Models.ViewModels.ChatListViewModel

<br /><span class="title">Chat List </span><span class="font15">@Html.ActionLink("+", "Create", "Chat", new { }, null)</span>
<br />
<section class="multiple-choice-list col-lg-offset-5">
    @if (Model != null && Model.Chats.Count > 0)
    {

        foreach (var c in Model.Chats)
        {
            if (c.Participants.Count > 2)
            {
                <i class="material-icons small">group</i>
            }
            else
            {
                <i class="material-icons small">person</i>
            }

            @Html.ActionLink(@c.Name, "Index", "Chat", new { Id = c.Id }, null)<br />
        }
    }
    else
    {
        <i>You have not started any chats yet!</i>
    }
</section>