@{
    ViewBag.Title = "Dashboard";
}

<div class="jumbotron">
    <h1>MessageStack</h1>
    <p class="lead">MessageStack is a chat application used to chat with other people</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Register</h2>
        <p>
            If you don't have an account yet, create one <a class="btn btn-default" href="~/Registreer/">here</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Log In</h2>
        <a class="btn btn-default" href="~/Account/Login">Log In</a>
    </div>
</div>