@model MessageStack.Models.ViewModels.MessageViewModel
<section class="message=container">
    <section class="message-timestamp">[@Model.TimeStamp]</section> <section class="message-sender-name">@Model.SenderName</section>
    <section class="message-text">Model.Text</section>@
</section>