@model string
    <section class="jumbotron">
        <h2>Confirm remove contact</h2>
        <br />

        @Html.ValidationSummary()
        @using (Html.BeginForm())
        {
            <input type="hidden" value="@Model" />
            <input type="submit" value="Remove contact" />
        }

        <br />
    </section>