@using System.Web.Mvc.Html
@using MessageStack.Models
@using MessageStack.Models.ViewModels
@model MessageStack.Models.ViewModels.DashboardViewModel

<section class="center-element">
    <h2>Dashboard</h2>
    <h4>Welcome, @Model.CurrentUser.Name</h4>

    <!--Contact List-->
    Contact List:
    <section>
        @{
            foreach (var contact in Model.Contacts)
            {
                <p>- <a>@contact.Name</a></p>
            }
        }
    </section>

    <!--Chat List-->
    Chat List:
    <section>
        @{
            foreach (var chat in Model.Chats)
            {
                <p>- <a>@chat.Name</a></p>
            }

        }
    </section>
    <br /><br />
    <section>
        @Html.ActionLink("Logout", "Logout", "Account")
    </section>
</section>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}